* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

.xs {
  display: none;
}

aside {
  height: 90vh;
  width: 10%;
  background-color: black;
  float: left;
}

aside .menu {
  height: 90vh;
  text-align: center;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu .menu-top {
  width: 100%;
}

.menu-top span:hover , .menu-top p:hover {
  color:white;
}

.menu-top .fa-spotify {
  font-size: 20px;
  padding-bottom: 10px;
}

.menu-bot i , .menu-top i {
  color: white;
  display: block;
  padding: 4px 0 ;
  cursor: pointer;
}

 .menu-top .playlist i:hover  {
  color: white;
}

.menu-bot span:hover {
  color: white;
}

/* INIZIO HEADER */

header {
  width: 90%;
  height: 70px;
  background-color: black;
  float: left;
  margin-right: 0;
}

header .rt {
  float: right;
  line-height: 70px;
  height: 70px;
  margin-right: 20px;
}

.rt button {
  background-color: black;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.rt button:hover {
  transform: scale(1.1);
}

/* INIZIO MAIN */

main {
  height: calc( 90vh - 70px);
  width: 90%;
  background-color: #37373c;
  float: left;
  overflow-y: scroll;
  color: white;
}

main .main-top {
  padding: 10px 10px 0 10px;
  width: 100%;
}

.main-top .categorie {
  width: 100%;
  padding: 0 12px;
  margin: 4px auto;
  text-align: center;
}

.categorie div {
  width: 33.333%;
  float: left;
  font-size: 11px;
  padding: 5px 5px;
}

.categorie div a {
  color: #a79e9e;
  text-decoration: none;
  cursor: pointer;
}

.categorie div a:hover {
  color: white;
}

/* PARTE BOT DEL MAIN */
main .main-bot {
  padding: 0 10px ;
}

.main-bot h3 {
  margin-bottom: 15px;
  padding-left: 10px;
}

.main-bot #par {
  padding-left: 10px;
  color: #a79e9e;
}

/* INIZIO BLOCCO CANZONI */
.songs .song {
  width:50%;
  height: auto;
  padding: 10px;
  float: left;
}

.song .song-top {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.overlay {
  max-height: 97%;
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right:0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay i {
  font-size: 60px;
}

.overlay:hover {
  opacity: 1;
}

.song-top img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position:center ;
}

.song .song-bot {
  text-align: center;
}

.song-bot p {
  color: #a79e9e;
  font-size: 12px;
}

/* INIZIO FOOTER */

footer {
  width: 100%;
  height: 10vh;
  min-height: 57px;
  background-color: #4a4a4a;
  padding: 10px;
  position: fixed;
  bottom : 0;
}

footer .fl {
  float: left;
}

footer .footer-left , footer .footer-right {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-left .img {
  width: 30%;
}

.img img {
  width: 100%;
  height: auto;
  max-height: 30px;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

.footer-left .titolo {
  width: 40%;
  height: auto;
  padding-left: 5px;
}

.titolo h6 {
  color: white;
}

.titolo p {
  color: #a79e9e;
  font-size: 10px;
  cursor: pointer;
}

.titolo p:hover {
  color: white;
}

.footer-left .rt {
  width: 30%;
  font-size: 12px;
  color: #a79e9e;
}

.footer-left .rt i:hover {
  color: white;
  cursor: pointer;
}

/* PARTE CENTRALE DEL FOOTER */

footer .footer-center {
  width: 40%;
  height: 100%;
}

.footer-center .footer-center-top {
  height: 35%;
}

.footer-center-top .fl {
  width: 20%;
  padding: 5px;
}

.footer-center-top .fl-ct{
  text-align: center;
}

.footer-center-top .fl.fl-30 {
  text-align: right;
}

.footer-center-top .fl-rt.fl-30 , .footer-center-top  .fl.fl-10{
  text-align: left;
}

.footer-center-top .fl-10  {
  width: 10%;
}

.footer-center-top .fl-30 {
  width: 30%;
}

.footer-center-top .fl i {
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.footer-center-top  .fl-ct.fl i {
  font-size: 23px;
}

.footer-center-top  .fl-ct.fl i:hover {
  transform: scale(1.2);
}

.footer-center .footer-center-bot {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-center-bot .footer-bot-left , .footer-center-bot .footer-bot-right {
  width: 20%;
  font-size: 10px;
  color: white;
}

.footer-center-bot .footer-bot-center {
  width: 60%;
  padding: 8px;
}

.footer-center-bot .footer-bot-left {
  text-align: right;
}

.footer-center-bot .footer-bot-right {
  text-align: left;
}

 hr {
  height: 3px ;
  background-color: #a79e9e;
  color: #a79e9e;
  border:none;
}

/* PARTE DESTRA DEL FOOTER */

footer .footer-right {
  padding-left: 10px;
}

.footer-right .icon-left {
  width: 45%;
  font-size: 8px;
  color: white;
}

.icon-left i {
  padding: 2px;
  cursor: pointer;
}

.footer-right .hr-right {
  width: 55%;
  padding: 1px;
}

@media screen and (min-width: 768px) {

  .xs {
    display:contents;
  }

  aside {
    width: 30%;
  }

  aside .menu {
    text-align: left;
  }

  .playlist p {
    padding-top: 10px;
  }

  .menu-top .fa-spotify {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .menu-bot i , .menu-top i {
    font-size: 25px;
    padding: 10px 0 ;
  }

   .playlist .fa-plus-square{
    font-size: 40px;
  }

  .menu-bot i span, .menu-top i span {
    color: #a79e9e;
    font-size: 16px;
    display: inline;
    vertical-align: middle;
  }

  .menu-top i  .spot {
    font-size: 30px;
    vertical-align: middle;
    display: inline;
  }

  .menu-top .playlist h4 {
    padding-top: 10px;
  }

  .menu-top .playlist , .menu-top .playlist i{
    color:#a79e9e;
  }

  .menu-bot .fa-user-circle {
    border-top: 1px solid #a79e9e;
  }

  header {
    width: 70%;
  }

  main {
    width: 70%;
  }

  .categorie div {
    font-size: 14px;
  }

  .overlay {
    max-height: 95%;
 }

  .main-bot h3  {
    margin-top: 15px;
  }

  .songs .song {
    width: 25%;
  }

  .titolo p  {
    display: inline;
  }

 footer {
  min-height: 100px;
 }

  .footer-left .rt {
    display: flex;
    font-size: 16px;
  }

  .icona i {
    padding: 5px;
  }

  .footer-center .footer-center-top {
    padding-top: 12px;
  }

  .footer-center .footer-center-top  i{
    font-size: 18px;
    vertical-align: middle;
  }

  .footer-center-top  .fl-ct.fl {
    height:26px;
  }

  .footer-center-top .fl {
    text-align: right;
  }

  .footer-center-top  .fl.fl-10{
    text-align: right;
  }

  .footer-center-top .fl-rt ,   .footer-center-top .fl-rt.fl-10 {
    text-align: left;
  }

  .footer-center-top .fl-ct {
    text-align: center;
  }

  .icon-left i {
    padding: 5px;
    font-size: 13px;
 }
}


@media screen and (min-width:1178px) {

  aside {
    width: 20%;
  }

  header {
    width: 80%;
  }

  main {
    width: 80%;
  }

  main .main-top {
    width: 80%;
    margin: 0 auto 30px auto;
}

  .categorie div {
    width: 16% ;
  }

  .songs .song {
    width: 16%;
}

.overlay {
  max-height: 96%;
}

  footer {
    min-height: 90px;
  }

  footer .footer-left, footer .footer-right {
    width: 20%;
  }

  footer .footer-center {
    width: 60%;
  }

  .footer-center .footer-center-top , .footer-center .footer-center-bot {
    width: 60%;
    margin: 0 auto;
  }

  .footer-center-top  .fl-ct.fl {
    height:30px;
  }

  .footer-center-top  .fl-ct.fl i {
    font-size: 29px;
  }

  .icon-left i {
    padding: 10px;
    font-size: 15px;
 }

}
