* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

aside {
  height: 90vh;
  width: 10%;
  background-color: black;
  float: left;
}

aside .menu {
  height: 90vh;
  text-align: center;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu .menu-top {
  width: 100%;
}

.menu-top .fa-spotify {
  font-size: 20px;
  padding-bottom: 10px;
}

.menu-bot i , .menu-top i {
  color: white;
  display: block;
  padding: 4px 0 ;
}
/* INIZIO HEADER */

header {
  width: 90%;
  height: 70px;
  background-color: black;
  float: left;
  margin-right: 0;
}

header .rt {
  float: right;
  line-height: 70px;
  height: 70px;
  margin-right: 20px;
}

.rt button {
  background-color: black;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
}
/* INIZIO MAIN */

main {
  height: calc( 90vh - 70px);
  width: 90%;
  background-color: #37373c;
  float: left;
  overflow-y: scroll;
  color: white;
}

main .main-top {
  padding: 10px 10px 0 10px;
  width: 100%;
}

.main-top .categorie {
  width: 100%;
  padding: 0 12px;
  margin: 4px auto;
  text-align: center;
}

.categorie div {
  width: 33.333%;
  float: left;
  font-size: 11px;
  padding: 10px 5px;
}

.categorie div a {
  color: #a79e9e;
  text-decoration: none;
}

/* PARTE BOT DEL MAIN */
main .main-bot {
  padding: 0 10px ;
}

.main-bot h3 {
  margin-bottom: 15px;
}

/* INIZIO BLOCCO CANZONI */
.songs .song {
  width:50%;
  height: auto;
  padding: 10px;
  float: left;
}

.song .song-top {
  width: 100%;
}

.song-top img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.song .song-bot {
  text-align: center;
}

.song-bot p {
  color: #a79e9e;
  font-size: 12px;
}

/* INIZIO FOOTER */

footer {
  width: 100%;
  height: 10vh;
  background-color: #4a4a4a;
  padding: 10px;
}

footer .fl {
  float: left;
}

footer .footer-left , footer .footer-right {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-left .img {
  width: 30%;
}

.img img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.footer-left .titolo {
  width: 40%;
  height: auto;
  padding-left: 5px;
}

.titolo h6 {
  color: white;
}

.titolo p {
  color: #a79e9e;
  font-size: 10px;
}

.footer-left .rt {
  width: 30%;
  font-size: 12px;
  color: #a79e9e;
}

/* PARTE CENTRALE DEL FOOTER */

footer .footer-center {
  width: 40%;
  height: 100%;
}

.footer-center .footer-center-top {
  height: 50%;
}

.footer-center-top .fl {
  width: 20%;
}

.footer-center-top .fl-ct{
  text-align: center;
  border: 2px solid white;
}

.footer-center-top .fl-rt {
  text-align: right;
}

.footer-center-top .fl i {
  color: white;
  font-size: 13px;
}

.fl-ct i {
  height: 13px;
  width: 13px;
}

.footer-center .footer-center-bot {
  height: 50%;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.footer-center-bot .footer-bot-left , .footer-center-bot .footer-bot-right {
  width: 20%;
  font-size: 10px;
  color: white;
}

.footer-center-bot .footer-bot-center {
  width: 60%;
  padding: 3px;
}

.footer-center-bot .footer-bot-right {
  text-align: right;
}

 hr {
  height: 3px ;
  background-color: white;
  color: white;
  border:none;
}

/* PARTE DESTRA DEL FOOTER */

footer .footer-right {
  padding-left: 10px;
}

.footer-right .icon-left {
  width: 40%;
  font-size: 8px;
  color: white;
}

.icon-left i {
  padding: 1px;
}

.footer-right .hr-right {
  width: 60%;
  padding: 2px;
}
